* {
  font-size-adjust: initial;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

@keyframes noviRed {
  0% {
    background-color: rgba(2, 117, 216, 0);
  }
  25% {
    background-color: rgba(2, 117, 216, 0.05);
  }
  50% {
    background-color: rgba(2, 117, 216, 0.1);
  }
  75% {
    background-color: rgba(2, 117, 216, 0.15);
  }
  100% {
    background-color: rgba(2, 117, 216, 0.2);
  }
}

.spiner {
  align-content: center;
  text-align: center;
  -ms-flex-item-align: center;
}

.kontejner {
  align-content: center;
  text-align: center;
  -ms-flex-item-align: center;
  border: 3px solid#0275d8;
  border-radius: 10px;
  margin: 3rem;
}

.kontejner2 {
  align-content: center;
  text-align: center;
  -ms-flex-item-align: center;
  margin: 3rem;
  border: 3px solid#0275d8;
  border-radius: 10px;
  padding: 10px;
}

.novi-red {
  border-bottom: 1px solid#0275d8;
  white-space: nowrap;
  display: grid;
  padding: 8px;
}

.novi-red-head {
  border-bottom: 1px solid#0275d8;
  white-space: nowrap;
  display: grid;
  padding: 8px;

  font-weight: bold;
}

.novi-red-head-2 {
  white-space: nowrap;
  display: grid;
  padding: 8px;

  font-weight: bold;
}

.novi-red:hover {
  animation-name: noviRed;
  animation-duration: 0.25s;
  background-color: rgba(2, 117, 216, 0.2);
}

a {
  color: black;
  text-decoration: none;
}

.button {
  margin: 10px;
}
